{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matériel</th>
                <th>Date d'emprunt</th>
                <th>Date à rendre</th>
                <th>Email</th>
                <th>Est-ce rendu </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{reservation.material.name}}</td>
                <td>{{ reservation.empruntDate ? reservation.empruntDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.rendered ? reservation.rendered|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.isRendered ? 'Yes' : 'No' }}</td>
                <td>
                    <a  class="btn btn-primary"href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_reservation_new') }}">Créer un nouveau</a>
{% endblock %}
